# debugger interface
type tombstoned, domain, coredomain;
type tombstoned_exec, system_file_type, exec_type, file_type;

init_daemon_domain(tombstoned)

get_prop(tombstoned, tombstone_config_prop)

# Write to arbitrary pipes given to us.
allow tombstoned domain:fd use;
allow tombstoned domain:fifo_file write;

allow tombstoned domain:dir r_dir_perms;
allow tombstoned domain:file r_file_perms;

r_dir_file(tombstoned, tombstone_data_file)

# /data/anr and /data/tombstones aren't used, but still required to make tombstoned happy.
dontaudit tombstoned tombstone_data_file:dir create_dir_perms;
dontaudit tombstoned tombstone_data_file:file create_file_perms;

###
### Neverallow rules
###

neverallow {
    domain
    -init
    -tombstoned
} tombstone_config_prop:file no_rw_file_perms;

# Do not allow tombstoned to /data/anr and /data/tombstones, as it will drain the RAM of microdroid.
neverallow tombstoned tombstone_data_file:dir { create reparent rename rmdir setattr write add_name remove_name };
neverallow tombstoned tombstone_data_file:file { create rename setattr unlink append write };
