# Domain for a child process that manages virtual machines on behalf of its parent.
starting_at_board_api(202504, `
    type virtualizationmanager, domain, coredomain;
    type virtualizationmanager_exec, system_file_type, exec_type, file_type;
')

# system/sepolicy/public is for vendor-facing type and attribute definitions.
# DO NOT ADD allow, neverallow, or dontaudit statements here.
# Instead, add such policy rules to system/sepolicy/private/*.te.
