type custom_vm_setup, domain, coredomain;
type custom_vm_setup_exec, system_file_type, exec_type, file_type;

is_flag_enabled(RELEASE_AVF_SUPPORT_CUSTOM_VM_WITH_PARAVIRTUALIZED_DEVICES, `
  init_daemon_domain(custom_vm_setup)
')
