type hal_keymint_system, domain, coredomain;
hal_server_domain(hal_keymint_system, hal_keymint)

type hal_keymint_system_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_keymint_system)

# allow hal_keymint_system to find trusty_keymint_comm_service and its accessor
allow hal_keymint_system accessor_trusty_keymint_comm_service:service_manager { find };
allow hal_keymint_system trusty_keymint_comm_service:service_manager { find };

# allow hal_keymint_system to use file descriptors from early_virtmgr
allow hal_keymint_system early_virtmgr:fd { use };
allow hal_keymint_system early_virtmgr:vsock_socket { getattr getopt read write };
